﻿@{
    PageData["title"] = "Restful Web Client | About";
}
<div style="text-align: center">
    <p style="font-size:24px">Author Profile</p>
    <h3>ID: 1112214</h3>
    <h3>Name: VO MINH NHUT</h3>
    <h3>Faculty: Information Technology</h3>
    <h3>Email: vmnhut.fit@gmail.com</h3>
</div>
