﻿@{
    PageData["title"] = "Restful Web Client | Sign In";
}

<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>
        Log in with Facebook Acount
    </title>
</head>
<body>

    <div id="fb-root"></div>
    <h2>Log in with Facebook Acount</h2><br />
    <div id="user-info"></div>
    <p><button id="fb-auth" style="margin-top:20px">Login</button></p>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '379596388867556',
                status: true,
                cookie: true,
                xfbml: true,
                oauth: true
            });

            function updateButton(response) {
                var button = document.getElementById('fb-auth');

                if (response.authResponse) {
                    //user is already logged in and connected

                    // set cookie login
                    setCookie("loginStatus", "true", getCookie("timeCookie"));

                    // Run API
                    var userInfo = document.getElementById('user-info');
                    FB.api('/me', function (response) {
                        userInfo.innerHTML = '<table><tr><td width="70"><img src="https://graph.facebook.com/'
                        + response.id + '/picture"></td><td>' + response.name + "<br>" + response.email;
                        + "</td></tr></table>";
                        button.innerHTML = 'Logout';

                        // set data login
                        setCookie("username", response.name, getCookie("timeCookie"));
                        setCookie("email", response.email, getCookie("timeCookie"));
                    });
                    button.onclick = function () {
                        FB.logout(function (response) {
                            var userInfo = document.getElementById('user-info');
                            userInfo.innerHTML = "";
                        });
                    };
                } else {
                    //user is not connected to your app or logged out

                    // clean data cookie
                    setCookie("username", "", getCookie("timeCookie"));
                    setCookie("email", "", getCookie("timeCookie"));

                    // set cookie login
                    setCookie("loginStatus", "false", getCookie("timeCookie"));

                    button.innerHTML = 'Login';
                    button.onclick = function () {
                        FB.login(function (response) {
                            if (response.authResponse) {
                                FB.api('/me', function (response) {
                                    var userInfo = document.getElementById('user-info');
                                    userInfo.innerHTML =
                                          '<img src="https://graph.facebook.com/'
                                      + response.id + '/picture" style="margin-right:5px"/>'
                                      + response.name;                                  
                                });
                            } else {
                                //user cancelled login or did not grant authorization
                            }
                        }, { scope: 'email' });
                    }
                }
            }

            // run once with current status and whenever the status changes
            FB.getLoginStatus(updateButton);
            FB.Event.subscribe('auth.statusChange', updateButton);
        };

        (function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol
              + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());

        // set cookie
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 1000));
            var expires = "expires=" + d.toLocaleString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        // get cookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }

    </script>

</body>
</html>