﻿@{
    PageData["title"] = "Restful Web Client | Scores";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body onload="GetAllScore();">
    <center>       
        <div>
            <h3>Total Score</h3>
            <div id="scoreResult"></div>
        </div>
        <div style="padding-top:20px">
            <input type="button" onclick="GetAllScore();" value="Refresh" />
        </div>
    </center>
</body>
</html>

@*JAVA SCRIPT*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    // auto load page
    $(document).ready(function () {
        GetAllScore();
    });

    // get all score
    function GetAllScore() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:10106/api/score',
            crossDomain: true,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponseScore(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // write score data
    function WriteResponseScore(score) {

        score.sort(function (a, b) { return b.Point - a.Point });

        // log
        console.log("score", score);

        var strResult = "<table border='1'>";
        strResult += "<th style='text-align:center' width='150px'>Rank</th>";
        strResult += "<th style='text-align:center' width='150px'>ID</th>";
        strResult += "<th style='text-align:center' width='150px'>Name</th>";
        strResult += "<th style='text-align:center' width='150px'>Point</th>";
        strResult += "<th style='text-align:center' width='150px'>Email</th>";

        $.each(score, function (index, score) {
            strResult += "<tr><td style='text-align:center'>" + (index + 1) + "</td>";
            strResult += "<td style='text-align:center'>" + score.Id + "</td>";
            strResult += "<td style='text-align:center'> " + score.Name + "</td>";
            strResult += "<td style='text-align:center'> " + score.Point + "</td>";
            strResult += "<td style='text-align:center'> " + score.Email + "</td></tr>";
        });

        strResult += "</table>";
        $("#scoreResult").html(strResult);
    }

</script>
