﻿@{
    PageData["title"] = "Restful Web Client | About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/Content/button.css">
    <link rel="stylesheet" type="text/css" href="~/Content/table.css">
    <link rel="stylesheet" type="text/css" href="~/Content/background.css">

    <script src="Scripts/cookieHelper.js"></script>

    <title>Score</title>
</head>

<body>
    <center>
        <font size='7' style='color:antiquewhite; font-weight:bold; vertical-align:middle'>Author Profile</font>
        <table class="rwd-table">
            <tr>
                <td><font size='5'>ID</font></td>
                <td><font size='5'>1112214</font></td>
            </tr>
            <tr>
                <td><font size='5'>Name</font></td>
                <td><font size='5'>VÕ MINH NHỰT</font></td>
            </tr>
            <tr>
                <td><font size='5'>Faculty</font></td>
                <td><font size='5'>Information Technology</font></td>
            </tr>
            <tr>
                <td><font size='5'>Email</font></td>
                <td><font size='5'>vmnhut.fit@gmail.com</font></td>
            </tr>
        </table>
    </center>
</body>
</html>