﻿@{
    PageData["title"] = "Game";
}

@*HTML Code*@

<head>
    <link rel="stylesheet" href="Scripts/FlipClock-master/compiled/flipclock.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="Scripts/FlipClock-master/compiled/flipclock.js"></script>
    <script src="Scripts/cookieHelper.js"></script>
    
    <link rel="stylesheet" type="text/css" href="~/Content/button.css">
    <link rel="stylesheet" type="text/css" href="~/Content/table.css">
    <link rel="stylesheet" type="text/css" href="~/Content/background.css">
   
    <meta name="viewport" content="width=device-width" />
    <title>Game UI</title>  

</head>

<body onload="CreateGame();">
    <div>
        <div class="clock" style="margin:2em; float:right; width:auto"></div>
        <div style="float:left; width:auto">
            
            <a href="#" class="btn orange" onclick="GameStart();">Start Game</a>
            <a href="#" class="btn orange" onclick="CreateGame();">Reset Game</a>
            
            <div style="padding-bottom:20px;" id="id_gameShowUI"></div>
            <div style="padding-bottom:20px;" id="id_point"></div>
            <div></div>
        </div>
    </div>
</body>

@*JAVA SCRIPT*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">  
    
    var _timeCountdown = 60;

    // auto load page
    $(document).ready(function () {

        if (getCookie("loginStatus") == "false") {
            loadLogin();
        }

        CreateGame();
    });

    // load login
    function loadLogin() {
        window.location.href = "./login";
    }

    // create game
    function CreateGame() {

        // set time cookie
        setCookie("timeCookie", (15*60).toString(), 1*24*60*60);

        // set cookie point
        setCookie("point", "0", getCookie("timeCookie"));

        // set clock time countdown
        setCookie("timeCountdown", "false", getCookie("timeCookie"));

        // set clock UI
        clockTimeCountdown(false, _timeCountdown);

        // show cookie point
        var strPoint = getCookie("point");
        $("#id_point").html("<font size='7' style='color:antiquewhite; font-weight:bold'>POINT : " + strPoint + "</font>");

        // clean word show
        $("#id_gameShowUI").html("<Table class='rwd-table'><tr><td><font size='7'>Please click button Start Game</font></td></tr></Table>");

        // set cookie status game
        setCookie("statusGame", "false", getCookie("timeCookie"));
    }

    // game start
    function GameStart() {

        // check clock time on or off?
        if (getCookie("timeCountdown") == "false") {
            clockTimeCountdown(true, _timeCountdown);
            setCookie("timeCountdown", "true", getCookie("timeCookie"));
        }

        // set cookie status game
        setCookie("statusGame", "true", getCookie("timeCookie"));

        GetWordFromWebservice();
    }

    // get word from webservice
    function GetWordFromWebservice() {
        jQuery.support.cors = true;

        //  get data word RESTFUL Webservice
        $.ajax({
            url: 'http://localhost:10106/api/word/-1',
            crossDomain: true,
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                // Log
                console.log("word", data);

                // set cookie
                setCookie("word", data.Text, getCookie("timeCookie"));
                setCookie("n", "0", getCookie("timeCookie"));
                setCookie("typing", "", getCookie("timeCookie"));

                // show word
                wordShow(getCookie("word"), getCookie("n"));
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // show word
    function wordShow(word, n) {
        var strResult = "<table class='rwd-table'><tr>";
        for (i = 0; i < word.length; i++) {
            if (n > 0) {
                strResult += "<td style='text-align:center' width='100px' ><font size='7' style='color:greenyellow; font-weight:bold'>" + word.charAt(i) + "</font></td>";
                n--;
            } else {
                strResult += "<td style='text-align:center' width='100px'><font size='7'>" + word.charAt(i) + "</font></td>";
            }

        }
        strResult += "</tr></table>";
        $("#id_gameShowUI").html(strResult);

        // show cookie point
        var strPoint = getCookie("point");
        $("#id_point").html("<font size='7' style='color:antiquewhite; font-weight:bold'>POINT : " + strPoint + "</font>");
    }

    // keyboard event
    document.onkeypress = function (e) {
        e = e || window.event;

        if (getCookie("statusGame") == "true") {

            var charCode = (typeof e.which == "number") ? e.which : e.keyCode;
            if (charCode) {
                //alert("Character typed: " + String.fromCharCode(charCode));  

                var word = getCookie("word");
                var n = getCookie("n");
                var typing = getCookie("typing");

                // correct keyboard
                if (String.fromCharCode(charCode) == word.charAt(n)) {

                    typing += String.fromCharCode(charCode);
                    n++;

                    setCookie("n", n, getCookie("timeCookie"));
                    setCookie("typing", typing, 15 * 60);

                    wordShow(getCookie("word"), getCookie("n"));
                }
                    // fail keyboard -> fail word
                else {
                    var point = parseInt(getCookie("point"));
                    if (point >= 5) {
                        point -= 5;
                    }
                    else {
                        point = 0;
                    }
                    setCookie("point", point, 15 * 60);
                    GameStart();
                }

                // finish word
                if (n == word.length) {
                    var point = parseInt(getCookie("point"));
                    point += 10;
                    setCookie("point", point, 15 * 60);
                    GameStart();
                }
            }
        }
    };

    // Time countdown
    var clock;
    function clockTimeCountdown(flag, time) {

        // Instantiate a counter
        clock = new FlipClock($('.clock'), time, {
            clockFace: 'Counter',
            autoStart: flag,
            countdown: true,
            callbacks: {
                interval: function () {
                    var time = clock.getTime().time;
                    if (time <= 0) {
                        alert("Time over! Please try again to hight score!");
                        SaveScoreInDataServer();
                        CreateGame();                       
                    }
                }
            }
        });
    };

    // save data
    function SaveScoreInDataServer() {

        jQuery.support.cors = true;
        var score = {
            Id: "-1",
            Name: getCookie("username").toString(),
            Point: getCookie("point").toString(),
            Email: getCookie("email").toString(),
        };
        $.ajax({
            url: 'http://localhost:10106/api/score',
            type: 'POST',
            data: JSON.stringify(score),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert("Score has saved! Thanks!");
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>
