﻿@{
    PageData["title"] = "Restful Web Client | Sign In";
}

<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>
        Log in with Facebook Acount
    </title>
    
    <link rel="stylesheet" type="text/css" href="~/Content/button.css">
    <link rel="stylesheet" type="text/css" href="~/Content/table.css">
    <link rel="stylesheet" type="text/css" href="~/Content/background.css">

    <script src="Scripts/cookieHelper.js"></script>

</head>

<body>
    <div id="fb-root"></div>
    <font size='7' style='color:antiquewhite; font-weight:bold; vertical-align:middle'>Log in with Facebook Acount</font>
    <div id="user-info"></div>
    <div>
        <div><button id="fb-auth" class="btn blue" style="margin-top:20px; float:left; width:auto">Login</button></div>
        <div id="id_share"></div>       
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '379596388867556',
                status: true,
                cookie: true,
                xfbml: true,
                oauth: true
                
            });

            function updateButton(response) {
                var button = document.getElementById('fb-auth');

                if (response.authResponse) {
                    //user is already logged in and connected

                    // set cookie login
                    setCookie("loginStatus", "true", getCookie("timeCookie"));

                    // Run API
                    var userInfo = document.getElementById('user-info');
                    FB.api('/me', function (response) {

                        HighScore(getCookie("username"));                    

                        userInfo.innerHTML = '<table class="rwd-table"><tr><td width="auto"><font size="5"><img src="https://graph.facebook.com/'
                        + response.id + '/picture" width="128" height="128"></font></td><td><font size="6">' + response.name + "<br>" + response.email
                        + "<br>High Score : " + getCookie("highScore") + " Point </font></td></tr></table>";
                        button.innerHTML = 'Logout';
                        
                        id_share.innerHTML = '<button id="fb-share" class="btn blue" style="margin-top:20px; float:left; width:auto">Share</button>';

                        // set data login
                        setCookie("username", response.name, getCookie("timeCookie"));
                        setCookie("email", response.email, getCookie("timeCookie"));
                    });                

                    button.onclick = function () {
                        FB.logout(function (response) {
                            var userInfo = document.getElementById('user-info');
                            userInfo.innerHTML = "";
                            id_share.innerHTML = "";
                        });
                    };
                } else {
                    //user is not connected to your app or logged out

                    // clean data cookie
                    setCookie("username", "", getCookie("timeCookie"));
                    setCookie("email", "", getCookie("timeCookie"));

                    // set cookie login
                    setCookie("loginStatus", "false", getCookie("timeCookie"));

                    button.innerHTML = 'Login';
                    button.onclick = function () {
                        FB.login(function (response) {
                            if (response.authResponse) {

                                HighScore(getCookie("username"));

                                FB.api('/me', function (response) {
                                    var userInfo = document.getElementById('user-info');
                                    userInfo.innerHTML = '<table class="rwd-table"><tr><td width="auto"><font size="5"><img src="https://graph.facebook.com/'
                                    + response.id + '/picture" width="128" height="128"></font></td><td><font size="6">' + response.name + "<br>" + response.email
                                    + "<br>High Score : " + getCookie("highScore") + " Point </font></td></tr></table>";

                                    id_share.innerHTML = '<button id="id_share" class="btn blue" style="margin-top:20px">Share</button>';
                                });
                            } else {
                                //user cancelled login or did not grant authorization
                            }
                        }, { scope: 'email' });
                    }
                }

                var share = document.getElementById('id_share');

                share.onclick = function () {
                    console.log("vo dc", "ok");
                    var params = {};
                    params['message'] = getCookie("username") + ' has ' + getCookie("highScore") + ' point in Typing Game';
                    params['link'] = 'http://localhost:8080/';

                    FB.api('/me/links', 'post', params, function (response) {
                        if (!response || response.error) {
                            // an error occured
                            alert(JSON.stringify(response.error));
                        } else {
                            // Done
                            alert('Link Published to stream');
                        }
                    });
                }
            }

            // run once with current status and whenever the status changes
            FB.getLoginStatus(updateButton);
            FB.Event.subscribe('auth.statusChange', updateButton);
        };

        (function () {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol
              + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());

        // get all score
        function HighScore(username) {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:10106/api/score',
                crossDomain: true,
                type: 'GET',
                dataType: 'json',
                success: function (data) {                   
                    FindHighScore(data, username);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });         
        }

        // find high score
        function FindHighScore(data, username) {
                     
            var highScore = 0;
            $.each(data, function (index, data) {
                if (data.Name == username) {
                    if (data.Point > highScore) {
                        highScore = data.Point;
                    }                     
                }
            });
            
            setCookie("highScore", highScore);
        }

    </script>

</body>
</html>