﻿@{
    PageData["title"] = "Restful Web Client | Scores";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" type="text/css" href="~/Content/button.css">
    <link rel="stylesheet" type="text/css" href="~/Content/table.css">
    <link rel="stylesheet" type="text/css" href="~/Content/background.css">

    <script src="Scripts/cookieHelper.js"></script>

    <title>Score</title>
</head>
<body onload="GetAllScore();">
    <center>       
        <div style="vertical-align:middle">
            <font size='7' style='color:antiquewhite; font-weight:bold; vertical-align:middle'>Total Score</font>
            <a href="#" class="btn blue" onclick="GetAllScore();">Refresh List</a>            
        </div>
        <div>
            <div id="scoreResult"></div>
        </div>
    </center>
</body>
</html>

@*JAVA SCRIPT*@
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    // auto load page
    $(document).ready(function () {
        GetAllScore();
    });

    // get all score
    function GetAllScore() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:10106/api/score',
            crossDomain: true,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponseScore(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // write score data
    function WriteResponseScore(score) {

        score.sort(function (a, b) { return b.Point - a.Point });

        // log
        console.log("score", score);

        var strResult = "<table class='rwd-table'>";
        strResult += "<th style='text-align:center' width='auto' ><font size='5'>Rank</font></th>";
        strResult += "<th style='text-align:center' width='auto'><font size='5'>ID</font></th>";
        strResult += "<th style='text-align:center' width='auto'><font size='5'>Name</font></th>";
        strResult += "<th style='text-align:center' width='auto'><font size='5'>Point</font></th>";
        strResult += "<th style='text-align:center' width='auto'><font size='5'>Email</font></th>";

        $.each(score, function (index, score) {
            strResult += "<tr><td style='text-align:center'><font size='3'> " + (index + 1) + "</font></td>";
            strResult += "<td style='text-align:center'><font size='3'> " + score.Id + "</font></td>";
            strResult += "<td style='text-align:center'><font size='3'> " + score.Name + "</font></td>";
            strResult += "<td style='text-align:center'><font size='3'> " + score.Point + "</font></td>";
            strResult += "<td style='text-align:center'><font size='3'> " + score.Email + "</font></td></tr>";
        });

        strResult += "</table>";
        $("#scoreResult").html(strResult);
    }

</script>
